{% extends 'events/base.html' %}

{% block content %}

<!-- Notifications -->
{% if notifications %}
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Reminders</h4>
    <ul class="mb-0">
      {% for note in notifications %}
      <li>{{ note }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="text-center">
  <h1>Hello {{ user.first_name|default:user.username }}! Jobs For {{ month }} {{ year }}</h1>
  <p>As of {{ time }}</p>
  <br/>
  {{ cal|safe }}
  <br/><br/>
</div>

<h3>Jobs this month</h3>

{% if event_list %}
  {% for event in event_list %}
    <div class="card mb-3">
      <div class="card-header">
        {{ event }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Job: {{ event.venue }}</h5>
        <ul class="list-unstyled">
          <li><strong>Date:</strong> <time datetime="{{ event.event_date|date:'Y-m-d' }}">{{ event.event_date|date:'F j, Y' }}</time></li>
          <li><strong>Job location:</strong> <a href="{{ event.venue.web }}">{{ event.venue.web }}</a></li>
          <li><strong>Manager:</strong> {{ event.manager }}</li>
          <li><strong>Description:</strong> {{ event.description }}</li>
          <li><strong>Employees:</strong><br/>
            {% for user in event.attendees.all %}
              {{ user }}<br/>
            {% endfor %}
          </li>
        </ul>
      </div>

      {% if user.is_authenticated and user == event.manager %}
        <div class="card-footer text-muted">
          <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Job</a>
          <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Job</a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>Sorry... There are no jobs this month.</p>
{% endif %}

<div class="text-center mt-5">
  <br/><br/><br/><br/>
  <p>&copy; {{ current_year }}</p>
</div>

{% endblock %}
